
/* Error */
.error {
  color: $red;
}

/* ItemFilterForm */
.itemFilterForm {
  margin: 2em 0;

  .filter {
    .order {
      margin: 0 0 1em 0;
    }
    [type="checkbox"]+span:not(.lever) {
      padding-left: 1.5em;
    }

    @media(min-width: $mobile) {
      display: flex;
      align-items: center;
      .order {
        width: auto;
        margin: 0 2em 0 0;
      }
      .display .formField {
        display: inline;
        margin-right: 1.2em;
      }
    }

  }
}

/* ItemCreateForm */
.itemCreateForm {
  .formField {
    margin: 3em 0;
  }
  .switch {
    margin-bottom: 2em;
  }
  #map {
    height: 300px;
  }
}

/* ContactUserForm */
.contactUserForm {
  background-color: $blue-dark;
  padding: 2em 0 3em 0;
  form {
    margin-top: 3em;
  }
  @media(min-width: $tablet) {
    padding: 4em 0 5em 0;
  }
}

/* File upload */
#file {
  position: absolute;
  top: -10000px;
  left: -10000px;
}
.file-wrapper {
  width: 100%;
  height: 300px;
  background-color: #eceff1;
  border: 1px solid #cfd8dc;
  position: relative;
  margin-top: 1em;

  &.image-true {
    height: auto;
  }

  label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.file-preview-wrapper {
  i {
    position: absolute;
    top: -10px;
    left: -10px;
    cursor: pointer;
  }
  .file-preview {
    display: block;
    width: 100%;
    height: auto;
  }
}
