html, body, #root {
  height: 100%;
}
html {
  font-size: 16px;
}

body {
  background-color: #f8f8f8;
  color: #333333;
}

p {
  font-size: 1.2em;
  font-weight: 300;
}

#root {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

/* colors */
$white: #ffffff;
$green:  #66bb6a;
$cyan: #26a69a;

/* header */
.header {
  background-color: $green;
}
.logo {
  font-family: 'Pacifico', cursive;
  color: $white;
  font-size: 2em;
  margin: -5px 0 0 0.5em;
  &:hover, &:active, &:focus {
    border: 0;
  }
}

h1, h2, h3, h4, h5 {
//  font-family: 'Oswald', sans-serif;
}

h1.baloo {
  font-family: 'Baloo Thambi', cursive;
}

a {
  transition: border 0.3s;
  color: $cyan;
  &:hover, &:active, &:focus {
    border-bottom: 1px solid $cyan;
    text-decoration: none;
  }
}

/* ======================= Landing =========================== */
.intro {
  text-align: center;
  max-width: 500px;
  margin: 6em auto;
  p {
    font-size: 1.4em;
    margin-bottom: 2em;
  }
}

/* ======================= item =========================== */

.meta {
  display: flex;
  .image {
    margin-right: 0.5em;
  }
  .text span {
    display: block;
  }
}

.itemBorrowForm {
  margin: 4em 0 -4em 0;
  background-color: #E3F2FD;
  padding: 4em 0 5em 0;
  form {
    margin-top: 3em;
  }
}

/* ======================= items =========================== */
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-preview {
  cursor: pointer;
  flex-basis: 100%;
  img {
    height:100%;
    object-fit: cover;
  }
  @media(min-width: 480px) {
    flex-basis: 48%;
    .card-image {
      height: 150px;
      background-color: #eceff1;
    }
  }
  @media(min-width: 768px) {
    flex-basis: 32%;
    .card-image {
      height: 150px;
    }
  }
  @media(min-width: 1024px) {
    flex-basis: 32%;
    .card-image {
      height: 200px;
    }
  }
  h5 {
    margin-top:0;
  }

  transition: all 0.3s;
  &:hover, &:active, &:focus {
    transform: scale(1.03);
  }

}

/* ======================= Images =========================== */
.image-large {
  max-width: 100%;
  margin: 2em 0;
}

.image-small {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.image-medium {
  border-radius: 50%;
  width: 200px;
  height: auto;
}

/* ======================= Footer =========================== */
.footer {
  background-color: $green;
  color: #ffffff;
  padding: 2em 0;
  margin-top: 4em;
  flex-shrink: 0;

  a {
    float: right;
    color: $white;
    margin-left: 1em;
    &:hover, &:focus, &:active {
      border-bottom: 1px solid $white;
    }
  }
}

/* ======================= Forms =========================== */

.itemFilterForm {
  margin: 2em 0;
}

.file-preview {
  max-width: 200px;
  height: auto;
}

#file {
  position: absolute;
  top: -10000px;
  left: -10000px;
}
.file-wrapper {
  width: 200px;
  height: 200px;
  background-color: #eceff1;
  border: 1px solid #cfd8dc;
  position: relative;
  margin-bottom: 2em;

  label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.file-preview-wrapper i {
  position: absolute;
  top: -10px;
  left: -10px;
  cursor: pointer;
}
.switch {
  margin-bottom: 2em;
}


/* ======================= user =========================== */

.user-info {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 4em;
}

.userItems {
  margin: 4em 0 -4em 0;
  padding: 2em 0;
  background-color: #E3F2FD;
}

.card.horizontal .card-image img {
  max-width: 200px;
}
